@page
@model JobPagesModel
@{
    Layout = "_JobLayout.cshtml";
}

<style>
    .job-pages {
        background-color: lightgray;
    }

</style>

<body>
    <div class="image-title">[공공]</div>
    <!-- 메인 콘텐츠 영역 -->
    <div class="content">
        <div class="image-block">
            <a href="https://www.work24.go.kr/cm/main.do" target="_blank">
                <img src="https://www.work24.go.kr/cm/static/images/bi106_32.svg" border="0" alt="Image 1">
            </a>
        </div>
        <div class="image-block">
            <a href="https://www.work.go.kr/jeju/main.do" target="_blank">
                <img src="~/img/jejuwork.png" alt="Image 2">
            </a>
        </div>
        <div class="image-block">
            <a href="https://www.jejunu.ac.kr/" target="_blank">
                <img src="~/img/jejunu.png" alt="Image 3">
            </a>
        </div>
        <div class="image-block">
            <a href="https://www.keis.or.kr/main/index.do" target="_blank">
                <img src="~/img/keis.png" alt="Image 4">
            </a>
        </div>
        <div class="image-block">
            <a href="https://www.worldjob.or.kr/new_index.do" target="_blank">
                <img src="~/img/worldjob.png" alt="Image 5">
            </a>
        </div>
    </div>

    <div class="image-title">[민간]</div>
    <div class="content">
        <div class="image-block">
            <a href="https://www.jobkorea.co.kr/" target="_blank">
                <img src="~/img/jobko.png" alt="Image 6">
            </a>
        </div>
        <div class="image-block">
            <a href="https://www.saramin.co.kr/zf_user/" target="_blank">
                <img src="~/img/saramin.png" alt="Image 7">
            </a>
        </div>
        <div class="image-block">
            <a href="https://www.chu.ac.kr/main/main/index.php" target="_blank">
                <img src="~/img/jejuhalla.png" alt="Image 8">
            </a>
        </div>
        <div class="image-block">
            <a href="https://www.incruit.com/" target="_blank">
                <img src="~/img/incruit.png" alt="Image 9">
            </a>
        </div>
        <div class="image-block">
            <a href="https://www.career.co.kr/" target="_blank">
                <img src="~/img/career.png" alt="Image 10">
            </a>
        </div>
    </div>

    <div class="empty"></div>
    <div class="image-title">모집 공고</div>
    <table class="table list">
        <colgroup>
            <col style="width:25%">
            <col>
            <col style="width:20%">
            <col style="width:15%">
        </colgroup>
        <thead>
            <tr>
                <th scope="col">
                    <a>회사명</a>
                </th>
                <th scope="col">
                    <a>제목</a>
                </th>
                <th scope="col">
                    <a>급여</a>
                </th>
                <th scope="col">
                    <a>마감일</a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a>제이제이루시타노팜</a>
                </td>
                <td>
                    <a href="https://www.work.go.kr/empInfo/empInfoSrch/detail/empDetailAuthView.do?searchInfoType=VALIDATION&callPage=detail&wantedAuthNo=K163012410310018&rtnTarget=list1">말 관리 및 목장관리</a>
                </td>
                <td>
                    <a>월급220만원~250만원</a>
                </td>
                <td>
                    <a>2024-12-30</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a>아덴힐리조트앤골프(주)</a>
                </td>
                <td>
                    <a href="https://www.work.go.kr/empInfo/empInfoSrch/detail/retrivePriEmpDtlView.do?searchInfoType=CSI&iorgGbcd=CSI&callPage=detail&wantedAuthNo=49310014&rtnTarget=list2&pageIndex=1&rtnUrl=/empInfo/empInfoSrch/list/dtlEmpSrchList.do?len=0&regionArr=[Ljava.lang.String4dff6dfc&pageSize=10&firstIndex=1&lastIndex=1&recordCountPerPage=10&region=50000&siteClcd=all&benefitSrchAndOr=O&areaRegion=11000&areaArc=1&staAreaLineInfo1=11000&staAreaLineInfo2=1&codeDepth1Info=11000&codeDepth2Info=11000&listCookieInfo=DTL&srchJobNum=0&resultCntInfo=50&sortOrderByInfo=DESC&sortFieldInfo=DATE&essCertChk=N&empTpGbcd=1&sortField=DATE&sortOrderBy=DESC&resultCnt=50&&onlyTitleSrchYn=N&keywordWantedTitle=N&keywordBusiNm=N&keywordStaAreaNm=N">아덴힐골프장 프론트 직원모집</a>
                </td>
                <td>
                    <a>회사내규에따름</a>
                </td>
                <td>
                    <a>2024-11-17</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a>제주참숯가마찜질방</a>
                </td>
                <td>
                    <a href="https://www.work.go.kr/empInfo/empInfoSrch/detail/empDetailAuthView.do?searchInfoType=VALIDATION&callPage=detail&wantedAuthNo=K163022410310004&rtnTarget=list3">식당정직원 모집합니다.</a>
                </td>
                <td>
                    <a>월급220만원이상</a>
                </td>
                <td>
                    <a>2024-11-10</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a>제508 일영호</a>
                </td>
                <td>
                    <a href="https://www.work.go.kr/empInfo/empInfoSrch/detail/empDetailAuthView.do?searchInfoType=VALIDATION&callPage=detail&wantedAuthNo=K163022410310003&rtnTarget=list4">508일영호 선원모집</a>
                </td>
                <td>
                    <a>시급9,860원이상</a>
                </td>
                <td>
                    <a>2024-12-30</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a>(주)덕천개발</a>
                </td>
                <td>
                    <a href="https://www.work.go.kr/empInfo/empInfoSrch/detail/empDetailAuthView.do?searchInfoType=VALIDATION&callPage=detail&wantedAuthNo=K163012410310017&rtnTarget=list5">토목기술자 초급 이상 경력무관(정규직)</a>
                </td>
                <td>
                    <a>월급330만원이상</a>
                </td>
                <td>
                    <a>채용시까지</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a>마야재가복지센터</a>
                </td>
                <td>
                    <a href="https://www.work.go.kr/empInfo/empInfoSrch/detail/empDetailAuthView.do?searchInfoType=VALIDATION&callPage=detail&wantedAuthNo=K163012410310016&rtnTarget=list6">방문간호 간호사 모십니다.</a>
                </td>
                <td>
                    <a>월급250만원이상</a>
                </td>
                <td>
                    <a>2024-11-14</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a>주식회사크루솔루션스</a>
                </td>
                <td>
                    <a href="https://www.work.go.kr/empInfo/empInfoSrch/detail/retrivePriEmpDtlView.do?searchInfoType=CSI&iorgGbcd=CSI&callPage=detail&wantedAuthNo=49309305&rtnTarget=list7&pageIndex=1&rtnUrl=/empInfo/empInfoSrch/list/dtlEmpSrchList.do?len=0&regionArr=[Ljava.lang.String4dff6dfc&pageSize=10&firstIndex=1&lastIndex=1&recordCountPerPage=10&region=50000&siteClcd=all&benefitSrchAndOr=O&areaRegion=11000&areaArc=1&staAreaLineInfo1=11000&staAreaLineInfo2=1&codeDepth1Info=11000&codeDepth2Info=11000&listCookieInfo=DTL&srchJobNum=0&resultCntInfo=50&sortOrderByInfo=DESC&sortFieldInfo=DATE&essCertChk=N&empTpGbcd=1&sortField=DATE&sortOrderBy=DESC&resultCnt=50&&onlyTitleSrchYn=N&keywordWantedTitle=N&keywordBusiNm=N&keywordStaAreaNm=N">[스누피가든] 현장운영(매표,전시설명) 정규직 채용</a>
                </td>
                <td>
                    <a>월급225만원~225만원</a>
                </td>
                <td>
                    <a>2024-11-30</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a>태연산업(주)</a>
                </td>
                <td>
                    <a href="https://www.work.go.kr/empInfo/empInfoSrch/detail/retrivePriEmpDtlView.do?searchInfoType=CSI&iorgGbcd=CSI&callPage=detail&wantedAuthNo=49309215&rtnTarget=list8&pageIndex=1&rtnUrl=/empInfo/empInfoSrch/list/dtlEmpSrchList.do?len=0&regionArr=[Ljava.lang.String4dff6dfc&pageSize=10&firstIndex=1&lastIndex=1&recordCountPerPage=10&region=50000&siteClcd=all&benefitSrchAndOr=O&areaRegion=11000&areaArc=1&staAreaLineInfo1=11000&staAreaLineInfo2=1&codeDepth1Info=11000&codeDepth2Info=11000&listCookieInfo=DTL&srchJobNum=0&resultCntInfo=50&sortOrderByInfo=DESC&sortFieldInfo=DATE&essCertChk=N&empTpGbcd=1&sortField=DATE&sortOrderBy=DESC&resultCnt=50&&onlyTitleSrchYn=N&keywordWantedTitle=N&keywordBusiNm=N&keywordStaAreaNm=N">토목기사채용</a>
                </td>
                <td>
                    <a>연봉5,000만원~5,000만원</a>
                </td>
                <td>
                    <a>2024-11-30</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a>노무법인글로벌신승</a>
                </td>
                <td>
                    <a href="https://www.work.go.kr/empInfo/empInfoSrch/detail/retrivePriEmpDtlView.do?searchInfoType=CSI&iorgGbcd=CSI&callPage=detail&wantedAuthNo=49308462&rtnTarget=list9&pageIndex=1&rtnUrl=/empInfo/empInfoSrch/list/dtlEmpSrchList.do?len=0&regionArr=[Ljava.lang.String4dff6dfc&pageSize=10&firstIndex=1&lastIndex=1&recordCountPerPage=10&region=50000&siteClcd=all&benefitSrchAndOr=O&areaRegion=11000&areaArc=1&staAreaLineInfo1=11000&staAreaLineInfo2=1&codeDepth1Info=11000&codeDepth2Info=11000&listCookieInfo=DTL&srchJobNum=0&resultCntInfo=50&sortOrderByInfo=DESC&sortFieldInfo=DATE&essCertChk=N&empTpGbcd=1&sortField=DATE&sortOrderBy=DESC&resultCnt=50&&onlyTitleSrchYn=N&keywordWantedTitle=N&keywordBusiNm=N&keywordStaAreaNm=N">제주도 노무자문업체 상담 및 거래처 관리 모집</a>
                </td>
                <td>
                    <a>회사내규에따름</a>
                </td>
                <td>
                    <a>채용시까지</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a>㈜조은시스템</a>
                </td>
                <td>
                    <a href="https://www.work.go.kr/empInfo/empInfoSrch/detail/retrivePriEmpDtlView.do?searchInfoType=CJK&iorgGbcd=CJK&callPage=detail&wantedAuthNo=47984400&rtnTarget=list10&pageIndex=1&rtnUrl=/empInfo/empInfoSrch/list/dtlEmpSrchList.do?len=0&regionArr=[Ljava.lang.String4dff6dfc&pageSize=10&firstIndex=1&lastIndex=1&recordCountPerPage=10&region=50000&siteClcd=all&benefitSrchAndOr=O&areaRegion=11000&areaArc=1&staAreaLineInfo1=11000&staAreaLineInfo2=1&codeDepth1Info=11000&codeDepth2Info=11000&listCookieInfo=DTL&srchJobNum=0&resultCntInfo=50&sortOrderByInfo=DESC&sortFieldInfo=DATE&essCertChk=N&empTpGbcd=1&sortField=DATE&sortOrderBy=DESC&resultCnt=50&&onlyTitleSrchYn=N&keywordWantedTitle=N&keywordBusiNm=N&keywordStaAreaNm=N">[경력]제주시 호텔 난타 현장소장 정규직 채용 공고</a>
                </td>
                <td>
                    <a>회사내규에따름</a>
                </td>
                <td>
                    <a>채용시까지</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="paging">
        <a oneclick="">1</a>
        <a oneclick="">2</a>
        <a oneclick="">3</a>
        <a oneclick="">4</a>
        <a oneclick="">5</a>
        <a oneclick="">6</a>
        <a oneclick="">7</a>
        <a oneclick="">8</a>
        <a oneclick="">9</a>
        <a oneclick="">10</a>
    </div>

</body>