@page
@model JobPagesModel
@{
    Layout = "_JobLayout.cshtml";
}

<style>
    .job-pages {
        background-color: lightgray;
    }

    .grid-container{
        display: none !important;
    }
</style>

<body>
    <div class="image-title">[공공]</div>
    <!-- 메인 콘텐츠 영역 -->
    <div class="content">
        <div class="image-block">
            <a href="https://www.work24.go.kr/cm/main.do" target="_blank">
                <img src="https://www.work24.go.kr/cm/static/images/bi106_32.svg" border="0" alt="Image 1">
            </a>
        </div>
        <div class="image-block">
            <a href="https://www.work.go.kr/jeju/main.do" target="_blank">
                <img src="~/img/jejuwork.png" alt="Image 2">
            </a>
        </div>
        <div class="image-block">
            <a href="https://www.jejunu.ac.kr/" target="_blank">
                <img src="~/img/jejunu.png" alt="Image 3">
            </a>
        </div>
        <div class="image-block">
            <a href="https://www.keis.or.kr/main/index.do" target="_blank">
                <img src="~/img/keis.png" alt="Image 4">
            </a>
        </div>
        <div class="image-block">
            <a href="https://www.worldjob.or.kr/new_index.do" target="_blank">
                <img src="~/img/worldjob.png" alt="Image 5">
            </a>
        </div>
    </div>

    <div class="image-title">[민간]</div>
    <div class="content">
        <div class="image-block">
            <a href="https://www.jobkorea.co.kr/" target="_blank">
                <img src="~/img/jobko.png" alt="Image 6">
            </a>
        </div>
        <div class="image-block">
            <a href="https://www.saramin.co.kr/zf_user/" target="_blank">
                <img src="~/img/saramin.png" alt="Image 7">
            </a>
        </div>
        <div class="image-block">
            <a href="https://www.chu.ac.kr/main/main/index.php" target="_blank">
                <img src="~/img/jejuhalla.png" alt="Image 8">
            </a>
        </div>
        <div class="image-block">
            <a href="https://www.incruit.com/" target="_blank">
                <img src="~/img/incruit.png" alt="Image 9">
            </a>
        </div>
        <div class="image-block">
            <a href="https://www.career.co.kr/" target="_blank">
                <img src="~/img/career.png" alt="Image 10">
            </a>
        </div>
    </div>

    <div class="empty"></div>
    <div class="image-title">모집 공고</div>
    <table class="table list">
        <colgroup>
            <col style="width:25%">
            <col>
            <col style="width:20%">
            <col style="width:15%">
        </colgroup>
        <thead>
            <tr>
                <th scope="col">
                    <a>회사명</a>
                </th>
                <th scope="col">
                    <a>제목</a>
                </th>
                <th scope="col">
                    <a>급여</a>
                </th>
                <th scope="col">
                    <a>마감일</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                object? gridItemsDynamic = ViewData["GridItems"];

                // Debug.Assert(gridItemsDynamic != null);
                List<string> gridItems = (List<string>)gridItemsDynamic;

                if (gridItems != null && gridItems.Count != 0)
                {
                    foreach (string item in gridItems)
                    {
                        @Html.Raw(item);
                    }
                }
            }
        </tbody>
    </table>
</body>