@using System.Diagnostics
@{
    Layout = "./_Layout.cshtml";
}

@section lsection {
    @RenderSection("lsection", required: false)
}

@RenderBody()

<style>
    .grid-container {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
        row-gap: 10px;
        column-gap: 10px;
    }
</style>

<div class="grid-container">
    @{
        List<string> gridItems = (List<string>)ViewData["GridItems"];

        if (gridItems != null && gridItems.Count != 0)
        {
            foreach (string item in gridItems)
            {
                @Html.Raw(item)
            }
        }
    }
</div>