@using System.Diagnostics
@using System.Web
@{
    Layout = "./_Layout.cshtml";
}

@section lsection {
    @RenderSection("lsection", required: false)
}

@RenderBody()

<style>
    .grid-container {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
        row-gap: 10px;
        column-gap: 10px;
    }

    .grid-item {
        aspect-ratio: 1 / 1;
        flex-direction: column;
        align-items: center;
        overflow: auto;
    }

    .card {
        width: 100%;
        height: 100%;
    }

    .card:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transform: scale(1.05);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
</style>

<div class="grid-container">
    @{
        object? gridItemsDynamic = ViewData["GridItems"];

        // Debug.Assert(gridItemsDynamic != null);
        List<string> gridItems = (List<string>)gridItemsDynamic;

        if (gridItems != null && gridItems.Count != 0)
        {
            foreach (string item in gridItems)
            {
                @Html.Raw(item);
            }
        }
    }
</div>