@{
    Layout = "../Shared/_Layout.cshtml";
}

@section lsection {

    <style>
        .sidebar-tap :hover {
            background-color: lightgray;
        }
    </style>

    <div class="sidebar">
        <ul>
            <li class="sidebar-tap">
                <a asp-page="LifeThread" class="LifeThread">
                    생활 게시판
                </a>
            </li>

            <li class="sidebar-tap">
                <a asp-page="Tour" class="Tour">
                    관광
                </a>
            </li>
        </ul>
    </div>
}

<style>
    .life-info {
        background-color: lightgray;
    }
</style>

@RenderBody()