@page
@model LifeThreadModel

@{
    Layout = "_LifeInfoGridLayout.cshtml";
}

<body>
    <style>
        .LifeThread {
            background-color: lightgray;
        }
    </style>

    <div>
        @{
            string dest;

            if (Request.Cookies.ContainsKey("UserCookie"))
            {
                dest = "PostingPage";
            }
            else
            {
                dest = "../Login";
            }

            <button><a asp-page="@dest">글쓰기</a></button>
        }
    </div>
</body>