@page
@model Capstone.Pages.LifeInfo.WelfareModel

@{
    Layout = "_LifeInfoGridLayout.cshtml";
}

<body>
    <style>
        .Welfare {
            background-color: lightgray;
        }
    </style>
</body>