@page
@model Capstone.Pages.InfraStructure
@{
}

@section lsection {
    <style>
        /* 좌측바 스타일 */
        .sidebar-header {
            min-width: 200px; /* 좌측바의 고정된 너비 */
            background-color: #FFFFFF;
            color: black;
            padding: 20px;
            box-sizing: border-box;
            text-align: center;
        }

            .sidebar-header h4 {
                border-bottom: 2px solid #000; /* 검은색 가로선 */
                padding-bottom: 10px;
                width: 100%;
            }
    </style>

    <div>
        <div class="sidebar-header">
            <h4>
                제주
                <br>
                정보상담센터
                <br>
                입지선정
            </h4>
        </div>

        <ol>
            <li>제주공항C구역</li>
            <li>제2제주공항 예정부지</li>
            <li>곽지해수욕장 인근</li>
            <li>덕수초등학교 인근</li>
            <li>제주한일베라체 아파트</li>
            <li>수모루 교차로 인근 아파트</li>
            <li>시흥마을회관 인근</li>
            <li>함덕중학교 인근</li>
        </ol>
    </div>
}

<style>
    .container img {
        width: 50%;
        height: 50%;
    }
</style>

<body>
    <div class="container">
        <img src="/geo.png" />
        <img src="/geo1.png" />
        <img src="/geo2.png" />
    </div>
</body>